@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600&display=swap');

*{
    color:black;
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span{
    color:black;
    text-align: center;
    line-height: 1.25;
}

h1{
    font-size: 36px;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

li{
    list-style-type: none;
}

.flex{
    display: flex; /* this automatically aligns like columns or rows with auto width and auto height */
}

.flex-1{
    flex: 1; /* this makes sure that it is the entire height of the  page */

}

.container{
    padding: 50px 0;
}


/* Navigation bar */

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.text-pink{
    color: 	#FF69B4 ;
}


SECTION:nth-child(even){ /*this means for every second section, it will be x colour */
    background-color: #f8f8f8;
}

.section_title{
    margin-bottom: 20px;
}

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.nav__link--list{
    display: flex;
}

.nav__link--anchor{
    margin: 0 12px;
    color: black;
    text-decoration: none;
    font-weight: 700;
}

.nav__link--anchor-primary{
    background-color: 	#FF69B4;
    padding: 8px 20px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__link--anchor-primary:hover{
    background-color: #FF69B4;
}

.personal_logo{
    font-size: 20px;
    color: 	#FF69B4;
    margin: 0 12px;
    font-weight: bold;
}

/* About mE */
#about-me{
    min-height: 100vh; /* entire height of the page */
    display: flex;
    flex-direction: column;
}

.about-me__info{
    display: flex;
    flex-direction: column;
}



.about-me__info--container {
    display: flex;
    flex-direction: column; /* so it is not side-by-side */
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.about-me--picture--mask{
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
    box-shadow: 0 8px 16px rgba(0,0,0,1);
    margin-bottom: 20px;

    
}

.about-me__picture{
    width: 100%;
    transform: scale(1,1.1);
    padding-top: 7px;
}

.about-me__info--para{
    font-size: 15px;
    margin-bottom: 28px;
}

.about-me__info--title{
    margin-bottom: 15px;
}

.about-me__link{
    font-size: 20px;
    color:#FF69B4;
    text-decoration: none;
    padding: 0 16px;
}

.about-me__img--container {
    flex: 1;
    display: flex;
    align-items: center;
  }


.about-me__img{
    width: 100%;
}

/* Technology stack */

.language__img{
    width: 100%;
    max-width: 100px;
    transition: all 300ms ease;
}

.language:hover .language__img{ /*when we hover over the langauge, we will target the image*/
    filter: brightness(80%);
    opacity: 0.86;
    transform: scale(0.9);
}

.language{
    width: 25%; /* the parent is the language meaning it will replicate */
    display: flex;
    justify-content: center;
    position: relative; /* this allows the language position to be relative to the language itself (parent) rather than the whole entire page */
} 


.language__img--wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 16px;
}

.language_list{
    display: flex;
    width: 100%;
}

.language__name{
    position: absolute;
    bottom: 0;
    transform: scale(0);
    transition: all 300ms;
    font-size: 18px;
    opacity: 0;
}

.language:hover .language__name{
    transform: scale(1);
    opacity: 1;
} /* when we hover over the parent language, we are targeting the language name */


